@model BHMS.Models.FDDPayment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FDDPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocSubmissionFactDet.FactFDBCNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocSubmissionFactDet.FactFDBCNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDDNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDDNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDDDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDDDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDDAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDDAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
