@model IEnumerable<BHMS.Models.ProdSize>

@{
    ViewBag.Title = "Size Ranges";
    ViewBag.SubTitle = "Product";
    BHMS.Models.ModelBHMS db = new BHMS.Models.ModelBHMS();
}

<p style="padding-left:5px; padding-top:5px;">
    @Html.ActionLink("Create New", "Create",
          null, new { @style = "color:#ffffff;", id = "lnkCreate", @class = "btn btn-success" })
</p>

<div class="panel panel-primary panel-bordered">
    <div class="panel-heading">
        <h5 class="panel-title">List of Size Ranges</h5>
    </div>
    <div class="panel-body">
        <table class="table datatable-show-all table-hover table-xs">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdDepartment.Brand.BuyerInfo.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdDepartment.Brand.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdDepartment.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SizeRange)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.IsAuth)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.OpBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OpOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuthBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuthOn)
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                          @{ 
                              var buyer = db.BuyerInfo.FirstOrDefault(x => x.Id == item.ProdDepartment.Brand.BuyerInfoId).Name;
                          }
                            @buyer
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProdDepartment.Brand.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProdDepartment.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SizeRange)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.IsAuth)
                        </td>*@
                        @*<td>
                            @Html.DisplayFor(modelItem => item.OpBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OpOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthOn)
                        </td>*@
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                            <ul class="icons-list">
                                <li class="text-info"><a href="@Url.Action("Edit", new { id = item.Id } )" data-popup="tooltip" title="Edit"><i class="icon-pencil7"></i></a></li>
                                <li>|</li>
                                <li class="text-info"><a href="@Url.Action("Details", new { id = item.Id } )" data-popup="tooltip" title="Details"><i class="icon-file-text2"></i></a></li>
                                <li>|</li>
                                <li class="text-danger"><a href="@Url.Action("Delete", new { id = item.Id } )" data-popup="tooltip" title="Delete"><i class="icon-cross2"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {

    <script type="text/javascript" src="~/Scripts/plugins/forms/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/datatables_advanced.js"></script>

}
