@using BHMS.Helpers
@{
    ViewBag.Title = "Order Information Buyer Wise Detail";
}



<!--
 =======================================================
 -----------Added By Nabid(14/05/2018)---------------
 =======================================================
 -->

<div class="panel panel-primary panel-bordered">
    <div class="panel-heading">
        <h5 class="panel-title">Order Information Buyer Wise Detail Report</h5>
    </div>
    <div class="panel-body">

        @Html.AntiForgeryToken()
        @using (Html.BeginForm("OrderInfoBuyerWiseDetailReport", "Report", FormMethod.Post, htmlAttributes: new { @target = "_blank" }))
        {
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">                  
                    <div class="form-group">
                        @Html.Label("Buyer", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownList("BuyerId", null, "--Select--", htmlAttributes: new { @id = "BuyerId", @class = "form-control select2", @style = "!important" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Order RefNo", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownList("BuyerMasId", null, "--Select--", htmlAttributes: new { @id = "BuyerMasId", @class = "form-control select2", @style = "!important" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Date", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("date", NullHelpers.DateToString(DateTime.Now), new { @class = "form-control datepicker", @id = "date" })

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <button type="submit" class="btn btn-primary" id="generateReport"><i class="icon-add position-left"></i>Generate Report</button>
                </div>
            </div>
        }

    </div>
</div>



    <script>
        $(document).ready(function () {
            $(".select2").select2();
            $('#generateReport').attr("disabled", "true");

            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                todayBtn: true,
                autoclose: true
            });
        });



        $('#BuyerId').change(function () {
           
            $('#BuyerMasId').change(function () {


                $('#generateReport').removeAttr("disabled");


            }
          );
                       
                     
               
            }
        );


    </script>
